.root {
    -fx-accent: gray;
    -fx-focus-color: #727579;
    -fx-highlight-text-fill: white;
    -fx-base: #252628;
}

.text-field {
    -fx-prompt-text-fill: #ccc;
    -fx-text-fill: #dbdcdc;
    -fx-background-color: #727579;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.jfx-toggle-button {
    -jfx-toggle-color: #4285f4;
    -jfx-untoggle-color: #FAFAFA;
    -jfx-toggle-line-color: #FAFAFA;
    -jfx-untoggle-line-color: #999999;
    -jfx-disable-visual-focus: false;
}

#searchPane {
    -fx-background-color: #727579;
}

#responseSearchField{
    -fx-background-color: #999999;
}